<!-- Slider Area Start-->
<div class="">
    <div class="container">
        <!-- Section-tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center mb-80">
                    <h2 class="text_our_blog">Our Blog Area</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End-->

<!--================Blog Area =================-->
<section class="blog_area section-paddingr">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0 img_blog" src="/img/blog/single_blog_1.jpg"
                                alt="image">
                            <a href="/blog/what-is-a-commercial-driver's-license" class="blog_item_date">
                                <h3>15</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="/blog/what-is-a-commercial-driver's-license">
                                <h2>WHAT IS A COMMERCIAL DRIVER'S LICENSE?</h2>
                            </a>
                            <p>A commercial driver's license (CDL) is a driver's license required to operate large,
                                heavy, or placarded hazardous material vehicles in commerce, including trucks,
                                buses, and trailers.</p>
                            <ul class="blog-info-link">
                                <li><i class="fa fa-user">United States, CDL</i>li>
                                <li><i class="fa fa-comments"></i>3 Comments</li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0 img_blog"
                                src="/img/blog/How-long-does-it-take-to-get-a-CDL.jpeg" alt="image">
                            <a href="/blog/How-long-does-it-take-to-get-a-CDL-in-2022" class="blog_item_date">
                                <h3>16</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="/blog/How-long-does-it-take-to-get-a-CDL-in-2022">
                                <h2>How long does it take to get a CDL in 2022?</h2>
                            </a>
                            <p>Are you looking for information about the CDL? And, how long does it take to get a
                                CDL? Here, you will find the information you need as well as improve more knowledge
                                about the CDL.</p>
                            <ul class="blog-info-link">
                                <li><i class="fa fa-user">United States, CDL</i></li>
                                <li><i class="fa fa-comments"></i>3 Comments</li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0 img_blog"
                                src="/img/blog/How-long-does-it-take-to-get-a-CDL.jpeg"
                                alt="Steps Required to Get a CDL License in 2022">
                            <a href="/blog/Steps-Required-to-Get-a-CDL-License-in-2022" class="blog_item_date">
                                <h3>16</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="/blog/Steps-Required-to-Get-a-CDL-License-in-2022">
                                <h2>Steps Required to Get a CDL License in 2022</h2>
                            </a>
                            <p></p>
                            <ul class="blog-info-link">
                                <li><i class="fa fa-user">United States, CDL</i></li>
                                <li><i class="fa fa-comments"></i>3 Comments</li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0 img_blog" src="/img/blog/Practice_GK_1.jpg"
                                alt="CDL Federal Requirements">
                            <a href="/blog/CDL-Federal-Requirements" class="blog_item_date">
                                <h3>16</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="/blog/CDL-Federal-Requirements">
                                <h2>CDL Federal Requirements</h2>
                            </a>
                            <p></p>
                            <ul class="blog-info-link">
                                <li><i class="fa fa-user">United States, CDL</i></li>
                                <li><i class="fa fa-comments"></i>3 Comments</li>
                            </ul>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0 img_blog" src="/img/blog/Practice_GK_3.jpg"
                                alt="CDL Endorsements and Restrictions">
                            <a href="/blog/CDL-Endorsements-and-Restrictions" class="blog_item_date">
                                <h3>16</h3>
                                <p>Jan</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="/blog/CDL-Endorsements-and-Restrictions">
                                <h2>CDL Endorsements and Restrictions</h2>
                            </a>
                            <p></p>
                            <ul class="blog-info-link">
                                <li><i class="fa fa-user">United States, CDL</i></li>
                                <li><i class="fa fa-comments"></i>3 Comments</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <a href="https://apps.apple.com/us/app/cdl-permit-practice-test-2022/id1627396953"><img
                                src="/img/gallery/Frame_353.png" alt="" class="saleLeftBlog"></a>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->

<script>
    document.getElementById('navigation_blog').classList.add("active");
</script>