<!-- Slider Area Start-->
<div class="services-area">
    <div class="container">

        <!-- Section-tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center mb-80">
                    <h2>Single Blog​</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="/img/blog/Practice_GK_1.jpg" alt="CDL Federal Requirements">
                    </div>
                    <div class="blog_details">
                        <h2 style="font-size: 30px;">CDL Federal Requirements</h2>
                        <p class="excert">
                            Earning your CDL is an important process if you plan to hit the streets in a commercial
                            motorized vehicle (CMV). It all starts with knowing about the rules and requirements set
                            by the Federal Motor Carrier Safety Administration (FMCSA). Each state has their own
                            application process, fees, and forms, but they all adhere to the federal requirements of
                            the FMCSA. Learn about the different requirements so you can be well on your way towards
                            a career in truck driving.
                        </p>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                <h2 style="margin-top: 0;">Minimum Requirements for a Commercial Learner's Permit
                                    (CLP) or Commercial Driver's License(CDL)</h2>
                                <ul>
                                    <li class="li_unset">Possess a valid non-commercial driver's license.</li>
                                    <li class="li_unset">Have one or two years of driving experience (depends on the
                                        state).</li>
                                    <li class="li_unset">If you wish to obtain a Class A or Class B CDL, you must
                                        successfully complete driver training from
                                        FMCSA-approved training providers.</li>
                                    <li class="li_unset">Be at least 18 years old to drive intrastate (within the
                                        state).</li>
                                    <li class="li_unset">Be at least 21 years old to drive interstate (out-of-state)
                                        or to transport hazardous materials.</li>
                                    <li class="li_unset">Provide proof of citizenship or lawful permanent residency
                                        (<a class="link_to"
                                            href="https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&amp;ty=HTML&amp;h=L&amp;mc=true&amp;=PART&amp;n=pt49.5.383#se49.5.383_171">Section
                                            383.71</a>).<ul>
                                            <li class="li_unset">Social security card, or proof of the number.</li>
                                            <li class="li_unset">Birth certificate.</li>
                                            <li class="li_unset">Valid passport.</li>
                                            <li class="li_unset">Green card.</li>
                                        </ul>
                                    </li>
                                    <li class="li_unset">Must be able to speak and read English at a sufficient
                                        level (<a class="link_to"
                                            href="https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&amp;ty=HTML&amp;h=L&amp;mc=true&amp;=PART&amp;n=pt49.5.391">Section
                                            391.11</a>).</li>
                                    <li class="li_unset">Provide a DOT medical card, which requires a DOT physical.
                                    </li>
                                    <li class="li_unset">Must not be a disqualified driver (<a class="link_to"
                                            href="https://www.ecfr.gov/cgi-bin/retrieveECFR?gp=1&amp;ty=HTML&amp;h=L&amp;mc=true&amp;=PART&amp;n=pt49.5.383">Section
                                            383.51</a>)</li>
                                    <li class="li_unset">Some states may require the completion of a CDL training
                                        course.</li>
                                    <li class="li_unset">Pass all required background checks.</li>
                                </ul>
                            </div>
                        </div>
                        <h3>Federal CDL Application Requirements</h3>
                        <p class="excert">
                            To be able to apply for a CDL, you must first obtain a CLP. The CLP must be held for a
                            minimum of 14 days (minimum
                            days differ from state to state). A road skills test must be passed beforehand, as well
                            as any additional knowledge
                            or skills exams for endorsements.
                        </p>
                        <p class="excert">To be able to apply for a CDL, you must first obtain a CLP. The CLP must
                            be held for a minimum of 14 days (minimum
                            days differ from state to state). A road skills test must be passed beforehand, as well
                            as any additional knowledge
                            or skills exams for endorsements.
                        </p>
                        <ul>
                            <li class="li_unset">
                                Commercial vehicle drivers must not hold more than one CDL at a time, according to
                                the
                                <a href="https://www.congress.gov/bill/99th-congress/senate-bill/1903">Commercial
                                    Motor Vehicle Safety Act of
                                    1986</a>.
                                This is to ensure that drivers can’t hide bad records and applying in different
                                states.
                            </li>
                            <li class="li_unset">Texting while operating a vehicle is prohibited, effective late
                                2013.</li>
                            <li class="li_unset">Commercial drives have to self-certify their medical information
                                and must use authorized medical examiners from
                                the National Medical Registry, effective 2014.</li>
                        </ul>
                        <br>
                        <h3>Physical and Medical Requirements</h3>
                        <p class="excert">
                            To be able to drive a commercial motor vehicle, a truck driver must have the physical
                            capabilities of doing so, alongside the various non-driving job duties. Being a trucker
                            means unloading and loading freight as well as driving long hours. This can cause sleep
                            deprivation, high stress levels, relationship challenges, and physical wear and tear.
                            With that being said, making sure you are physically and medically sound for the
                            position is important.
                            <br>
                            Physical and medical requirements will be examined by an approved Medical Examiner,
                            listed on the FMCSA National Registry. The Department of Transportation (DOT) medical
                            exam will look over the following:
                            <br>
                            Vision <br>
                            The visual acuity measurement should be at least 20/40 in each eye, with or without
                            correction (includes eyeglasses or contacts). Also, there must be at least 70 degrees
                            peripheral in the horizontal meridian measured in each eye.
                            <br>
                            Hearing <br>
                            Truckers should be able to hear a forced whisper from more than 5 feet away, in at least
                            one ear. Hearing aids are permitted to help hearing. <br>
                            Diabetes <br>
                            Truck drivers that require a needle injected insulin do not meet requirements. Although,
                            diabetic drivers that take oral medications are permitted. <br>
                            Blood Pressure <br>
                            A driver with blood pressure below 140/90, will be certified with a 2 year card. Stage 1
                            high blood pressure of 140-159/90-99 will be certified a 1 year card. Stage 2 high blood
                            pressure of 160-179/100-109 will be issued a temporary 3 month certificate (at examiners
                            discretion). Stage 3 high blood pressure >180/110 will result in a disqualification.
                            <br>
                            Blood Sugar
                            <br>
                            Blood sugar levels are required to be less than 10%. Certificates will be
                            issued at the discretion of the examiner for levels above 10%. <br>
                            Sleep Apnea <br>
                            Sleep apnea may result in a disqualification unless it is demonstrated that the
                            condition is under
                            control. This includes a recent annual sleep study and release from a physician. <br>
                            These are some of the basic physical qualifications for commercial drivers. Other
                            factors may
                            be examined such as recent major surgeries, loss of limbs, etc.
                            <br>
                            Self Certification
                            <br>
                            Depending on the type of commerce you intend to drive, you aren't required to submit a
                            Medical Examination Certificate, unless required by an employer. Most CDL holders are
                            non-excepted drivers and require a Medical Examination Card. To determine if you are
                            excepted, you must self-certify:
                        </p>
                        <ul>
                            <li class="li_unset"><strong>Interstate Non-Excepted:</strong> You must meet the Federal
                                DOT medical card requirements.</li>
                            <li class="li_unset"><strong>Interstate Excepted:</strong> You do not have to meet the
                                Federal DOT medical card requirements.</li>
                            <li class="li_unset"><strong>Intrastate Non-Excepted:</strong> You must meed the medical
                                requirements determined by your state.</li>
                            <li class="li_unset"><strong>Intrastate Excepted:</strong> You do not have to meet the
                                medical requirements determined by your state.
                            </li>
                        </ul>
                        <p class="excert"><strong>Interstate:</strong> Operating inside or outside the state you
                            obtain a CDL in.<br>
                            <strong>Intrastate:</strong> Operating within the borders of the state you obtain a CDL
                            in.
                        </p>
                        <h3>Written and Knowledge Exams</h3>
                        <p class="excert">There are a few different written exams to pass when working towards a CLP
                            or CDL. The first is the general knowledge test, followed by an air brakes test, and one
                            or more CDL endorsement tests. To help you prepare for these tests, we have put together
                            a number of free practice exams:</p>
                        <div class="learn_and_download dec_margin">
                            <div class="goto_learning">
                                <div class="btnWrp">
                                    <a href="/tests"><button class="startTestBtn"><i
                                                class="fa-solid fa-desktop"></i> Start Test</button></a>
                                    <a class="dowload_app "
                                        href="https://apps.apple.com/us/app/cdl-permit-practice-test-2022/id1627396953"
                                        class="app-btn1">
                                        <img class="img_appstore" src="/img/shape/app_btn1.svg"
                                            alt="Happier study, easier pass with our free practice questions">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3>Road Skills Test</h3>
                        <p class="excert">
                            A road skills exam is required to demonstrate knowledge and skills in regards to
                            pre-trip inspections, basic vehicle control, and on-road driving. Knowing the vehicle is
                            safe to drive, full control of the vehicle, and safe driving habits will be assessed.
                            The road skills test can be taken after a CLP is earned.
                            <br> The road skills test must be taken in the type of commercial vehicle to be licensed
                            in. This means bringing a Class A, Class B, or Class C commercial vehicle.
                        </p>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                        placeholder="Write Comment"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" type="email"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="website" id="website" type="text"
                                        placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <a href="https://apps.apple.com/us/app/cdl-permit-practice-test-2022/id1627396953"><img
                                src="/img/gallery/Frame_353.png" alt="" class="saleLeftBlog"></a>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Blog Area end =================-->

<script>
    document.getElementById('navigation_blog').classList.add("active");
</script>