<!-- Slider Area Start-->
<div class="services-area">
    <div class="container">

        <!-- Section-tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center mb-80">
                    <h2>Single Blog​</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="/img/blog/single_blog_1.jpg" alt="image">
                    </div>
                    <div class="blog_details">
                        <h2>WHAT IS A COMMERCIAL DRIVER'S LICENSE?
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i>United States, CDL</a></li>
                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                        </ul>
                        <p class="excert">
                            A CDL is a Commercial Driver's License that is required to drive commercial motor vehicles.
                            This
                            license is needed for any drivers that will be operating commercial driving equipment or
                            other
                            types of heavy machinery. To get a CDL, you will need to pass the CDL training courses and a
                            driving test quite like getting a regular driver's license. The first year it was required
                            to
                            carry a CDL was the year 1986 when the Vehicle Motor and Safety Act was passed. Before this,
                            each state had its own laws for driving heavy machinery, causing there to be unnecessary
                            accidents and several road deaths. The new law prohibits commercial driving without the
                            proper
                            CDL license. Even hot shot truckers are required to have a CDL on the road.
                        </p>
                        <h3>The three types of CDL's</h3>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                There are three types of CDL's you can get, and each one has it's a separate set of
                                requirements. To become a CDL driver, you will need to meet at least one of these class
                                requirements.
                            </div>
                        </div>
                        <h4>Class A</h4>
                        <p class="excert">
                            A Class A CDL is required when you plan to operate any vehicle with a Gross Vehicle Weight
                            Rating of 26,001 lbs, given that the towed vehicle weighs more than 10,000 pounds. When you
                            have
                            a Class A CDL, you will be able to operate the following vehicles.
                        </p>
                        <ul class="my-ul" role="list">
                            <li>Truck Trailer Combination</li>
                            <li>Tractor Trailer</li>
                            <li>Livestock Carriers</li>
                            <li>Flatbeds</li>
                            <li>Tractor Trailor Bus</li>
                        </ul>
                        <h4>Class B</h4>
                        <p class="excert">
                            A Class B CDL license is required for anyone planning to operate a vehicle with a total
                            combined
                            weight rating of 26,001 lbs, or more, or a tow vehicle no more than 10,000 pounds. When you
                            have
                            a Class B CDL, you will be able to operate the following vehicles.
                        </p>
                        <ul class="my-ul" role="list">
                            <li>Straight Trucks</li>
                            <li>Large Passenger Buses</li>
                            <li>Segmented Buses</li>
                            <li>Box Trucks</li>
                            <li>Dump Trucks with Small Trailers</li>
                            <li>Tractor Trailer</li>
                        </ul>
                        <h4>Class C</h4>
                        <p class="excert">
                            A Class C CDL license will be required to operate a vehicle made to carry 16 or more
                            passengers,
                            including the driver. This license is also needed if you plan to transport hazardous
                            materials
                            or equipment, these include any materials that are rated dangerous under the law. The
                            following
                            vehicles can be operated when you have a Class C CDL license.
                        </p>
                        <ul class="my-ul" role="list">
                            <li>Small <a href="https://en.wikipedia.org/wiki/Hazmat">HazMAt</a> vehicles&nbsp;</li>
                            <li>Combination Vehicles not covered by Classes A or B</li>
                            <li>Passenger Vans</li>
                        </ul>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                        placeholder="Write Comment"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" type="email"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="website" id="website" type="text"
                                        placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <a href="https://apps.apple.com/us/app/cdl-permit-practice-test-2022/id1627396953"><img
                                src="/img/gallery/Frame_353.png" alt="" class="saleLeftBlog"></a>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Blog Area end =================-->

<script>
    document.getElementById('navigation_blog').classList.add("active");
</script>