<section class="sectionFooter mg-top-100 pd-top-50">
        <div class="container">
            <div class="row">
                <div class="col-md-7 d-flex align-items-center footerBlock">
                    <div class="logo display_inline_block">
                        <a href="/"><img class="logo_img_footer" src="img/logo/Logo_update.jpg"
                                alt="CDL Permit Practice Test"></a>
                    </div>
                    <div>
                        <div class="aboutCDL">
                            <h4>CDL Permit Practice Test</h4>
                        </div>
                        <div class="aboutCDLtitle">
                            <span>This app includes CDL test prep (CDL study guide) for various categories. Pass guarantee with 600+ exam-like questions specific for your state.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 footerBlock">
                    <div class="aboutCDL">
                        <h4>Popular Resources</h4>
                    </div>
                    <div class="slashslash"></div>
                    <div class="aboutCDLtitle">
                        <span>Recommended Prep Courses
                            All Practice Tests</span>
                    </div>
                </div>
                <div class="col-md-2 footerBlock">
                    <div class="aboutCDL">
                        <h4>Download now</h4>
                    </div>
                    <div class="slashslash"></div>
                    <div class="aboutCDLtitle">
                        <a class="dowload_app " href="https://apps.apple.com/us/app/cdl-permit-practice-test-2022/id1627396953"
                            class="app-btn1">
                            <img class="img_appstore" src="img/shape/app_btn1.svg"
                                alt="Happier study, easier pass with our free practice questions" data-animation="rubberBand"
                                data-delay="7.2s">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footerEnd d-flex">
                <div>contact us</div>
                <div>about us</div>
                <div>copyright</div>
            </div>
        </div>
    </section>