<!-- Slider Area Start-->
<div class="services-area">
    <div class="container">

        <!-- Section-tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center mb-80">
                    <h2>Single Blog</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="img/blog/Practice_GK_3.jpg"
                            alt="CDL Endorsements and Restrictions">
                    </div>
                    <div class="blog_details">
                        <h2 style="font-size: 30px;">CDL Endorsements and Restrictions</h2>
                        <p class="excert">
                            Earning your commercial driver's license (CDL) is the first step towards a flourishing
                            career as a truck driver. The demand for commercial driving workforce is huge: a lot of
                            employers go to great lengths to find CDL drivers. But to advance your career, certain
                            endorsements should be earned and restrictions should be removed. Whether you have a
                            Class A, Class B, or Class C CDL, you will want to know about the different endorsements
                            and restrictions you will face.
                        </p>
                        <h3>CDL Endorsements</h3>
                        <p class="excert">CDL endorsements are essential for commercial drivers to operate special
                            types of commercial motor vehicles (CMVs). Outside of the Class A, B, or C CDL
                            requirements, there are additional tests to obtain the following federal CDL
                            endorsements.</p>
                        <p class="excert">Note: There may be additional endorsements depending on the state you
                            legally operate in.</p>
                        <h4>H Endorsement</h4>
                        <p class="excert">The H endorsement is required to operate a vehicle that contains hazardous
                            materials. A written knowledge test is needed to obtain a hazmat endorsement.</p>
                        <h4>N Endorsement</h4>
                        <p class="excert">The N endorsement allows CDL drivers to operate a tank vehicle (a vehicle
                            that transports liquids or gasses). A written knowledge test is required to obtain a
                            tank vehicle endorsement.</p>
                        <h4>P Endorsement</h4>
                        <p class="excert">The P endorsement is needed to operate a vehicle that seats 16 or more
                            people, including the driver. A written knowledge test and road skills test is required
                            for a passenger endorsement.</p>
                        <h4>S Endorsement</h4>
                        <p class="excert">The S endorsement allows drivers to operate a school bus. Prior to
                            obtaining an S endorsement, a P endorsement must be earned. A written knowledge test,
                            road skills test, separate application forms, fees, and a background check is required
                            for a school bus endorsement.</p>
                        <h4>T Endorsement</h4>
                        <p class="excert">The T endorsement is necessary for CDL drivers looking to tow a double or
                            triple trailer. A written knowledge test is required to obtain a double/triple trailers
                            endorsement.</p>
                        <h4>X Endorsement</h4>
                        <p class="excert">The X endorsement is a combination endorsement for tank vehicles and
                            hazardous materials. A written knowledge test is required to earn a combination tank
                            vehicle and hazmat endorsement.</p>


                        <h3>CDL Restrictions</h3>
                        <img src="img/blog/cdl-3.webp" alt="CDL Restrictions" class="image_blog">
                        <br>
                        <br>
                        <p class="excert">CDL restrictions prohibit the operation of certain types of CMVs. The
                            restriction code is placed on the CDL.</p>
                        <p class="excert">Note: There may be additional restrictions depending on the state you
                            legally operate in.</p>
                        <h4>E Restriction</h4>
                        <p class="excert">An E restriction prohibits CDL truck drivers from operating a vehicle with
                            a manual transmission. If a skills test is performed with an automatic transmission, an
                            E restriction will be issued.</p>
                        <h4>L Restriction</h4>
                        <p class="excert">An L restriction prohibits the the operation of a vehicle with a full air
                            brake system. If the skills test isn't taken with a full air brake system, air brake
                            systems aren't properly checked, or air brake system components aren't properly
                            identified, an L restriction will be issued. An L restriction will also be issued to
                            drivers that do not pass the air brakes knowledge test.</p>
                        <h4>M Restriction</h4>
                        <p class="excert">An M restriction indicates that a driver can only operate a Class B or C
                            passenger vehicle or school bus. If a driver has a Class A CDL, but obtains their
                            passenger endorsement (P) or school bus endorsement (S) in a Class B vehicle, an M
                            restriction will be issued.</p>
                        <h4>N Restriction</h4>
                        <p class="excert">An N restriction indicates that a driver can only operate a Class C
                            passenger vehicle or school bus. If a driver has a Class B CDL, but obtains their
                            passenger endorsement (P) or school bus endorsement (S) in a Class C vehicle, an N
                            restriction will be issued.</p>
                        <h4>O Restriction</h4>
                        <p class="excert">An O restriction prohibits drivers from driving a Class A vehicle with a
                            fifth wheel connection. An O restriction will be issued if a driver takes the skills
                            test in a Class A vehicle that has a non-fifth wheel connection or pintle hook.</p>
                        <h4>V Restriction</h4>
                        <p class="excert">A V restriction is issued when a driver has a medical variance, reported
                            by the Federal Motor Carrier Safety Administration (FMCSA). A medical variance includes
                            diabetic, hearing, seizure, or vision impairments.</p>
                        <h4>Z Restriction</h4>
                        <p class="excert">A Z restriction prohibits drivers from operating a CMV equipped with full
                            air brakes. A Z restriction is issued if the driver doesn't take the test with an air
                            over hydraulic brake system.</p>
                    </div>
                </div>
                {{!-- <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and
                            4
                            people like this</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="img/blog/author.png" alt="image">
                        <div class="media-body">
                            <a href="#">
                                <h4>Alex</h4>
                            </a>
                            <p></p>
                        </div>
                    </div>
                </div> --}}
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                        placeholder="Write Comment"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" type="email"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="website" id="website" type="text"
                                        placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <a href="https://apps.apple.com/us/app/cdl-permit-practice-test-2022/id1627396953"><img
                                src="img/gallery/Frame_353.png" alt="" class="saleLeftBlog"></a>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Blog Area end =================-->

<script>
    document.getElementById('navigation_blog').classList.add("active");
</script>