<!-- Slider Area Start-->
<div class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center">
            <div class="container">
                <div class="img_for_mobile">
                    <img src="img/hero/hero_1_cut.png" alt="Learn CDL">
                </div>
                <div class="row d-flex">
                    <div class="col-lg-6 col-md-9">
                        <div class="hero__caption">
                            <!-- <span data-animation="fadeInUp" data-delay=".4s">App Landing Page</span> -->
                            <h1 data-animation="fadeInUp" data-delay=".6s">Get things done with CDL Permit
                                Practice Test 2022!</h1>
                            <p data-animation="fadeInUp" data-delay=".8s" class="textAlignJustify">Preparing to
                                get commercial driver's licenses (CDL) can seem like a daunting task. This app
                                helps you practice and prepare your CDL in just days, not weeks. No experience
                                necessary.
                                Practice questions and exams are built specifically for the CDL at your state.
                                FREE CDL practice test for class A,B,C. Up-to-date 2022.
                            </p>
                            <div data-animation="fadeInLeft" data-delay="1.5s" class="learn_and_download">
                                <div class="goto_learning" data-animation="rubberBand" data-delay="5s"
                                    style="text-align: center;">
                                    <h2 style="font-size: 25px; font-weight: 800;" class="testContent">Start Your Free
                                        CDL Practice
                                        Test</h2>
                                    <div class="btnWrp">
                                        <a href="/tests"><button class="startTestBtn" data-animation="rubberBand"
                                                data-delay="7s"><i class="fa-solid fa-desktop"></i> Start
                                                Test</button></a>
                                        <a class="dowload_app "
                                            href="https://apps.apple.com/us/app/cdl-permit-practice-test-2022/id1627396953"
                                            class="app-btn1">
                                            <img class="img_appstore" src="img/shape/app_btn1.svg"
                                                alt="Happier study, easier pass with our free practice questions"
                                                data-animation="rubberBand" data-delay="7.2s">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 zIndex-1">
                        <div class="hero__img d-none d-lg-block f-right" data-animation="fadeInRight" data-delay="1s">
                            <!-- <img src="img/hero/hero_right.png" alt="image"> -->
                            <img src="img/hero/hero_1_cut.png" alt="Learn CDL">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End -->

<!-- Applic App Start -->
<div class="applic-apps section-padding2 pd-top-50">
    <div class="container">
        <div class="row">
            <!-- slider Heading -->
            <div class="col-xl-4 col-lg-4 col-md-8">
                <div class="single-cases-info mb-30">
                    <h3>Take a look with our app</h3>
                    <p class="textAlignJustify">
                        Say goodbye to the old, frustrating traditional way of preparing
                        for a driver's license. CDL Permit Practice Test helps you zero in on what you need to
                        study in order to boost your CDL test score. It is the best way to prepare for the
                        Commercial Drivers License General Knowledge, and various endorsement exams.
                    </p>
                </div>
            </div>
            <!-- OwL -->
            <div class="col-xl-8 col-lg-8 col-md-col-md-7">
                <div class="app-active owl-carousel">
                    <div class="single-cases-img">
                        <img src="img/gallery/screen1.jpg" alt="image">
                    </div>
                    <div class="single-cases-img">
                        <img src="img/gallery/screen2.jpg" alt="image">
                    </div>
                    <div class="single-cases-img">
                        <img src="img/gallery/screen3.jpg" alt="image">
                    </div>
                    <div class="single-cases-img">
                        <img src="img/gallery/screen4.jpg" alt="image">
                    </div>
                    <div class="single-cases-img">
                        <img src="img/gallery/screen5.jpg" alt="image">
                    </div>
                    <div class="single-cases-img">
                        <img src="img/gallery/screen6.jpg" alt="image">
                    </div>
                    <div class="single-cases-img">
                        <img src="img/gallery/screen7.jpg" alt="image">
                    </div>
                    <div class="single-cases-img">
                        <img src="img/gallery/screen8.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Applic App End -->

<!-- Best Features Start -->
<section class="best-features-area pd-top-50">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-8 imgBestFt">
                <img src="img/hero/hero_2.png" alt="image" class="image_hero_2">
            </div>
            <div class="col-xl-8 col-lg-8 col-md-col-md-7">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="section-tittle">
                            <h2>Some of the best features Of Our App!</h2>
                        </div>
                    </div>
                </div>
                <!-- Section caption -->
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-features mb-70">
                            <div class="features-icon">
                                <!-- <span class="flaticon-support"></span> -->
                                <img src="img/shape/ic_test.svg" alt="image">
                            </div>
                            <div class="features-caption">
                                <h3>Identical test</h3>
                                <p class="textAlignJustify">Exam written and verified by EXPERTS, based on the
                                    official test.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-features mb-70">
                            <div class="features-icon">
                                <!-- <span class="flaticon-support"></span> -->
                                <img src="img/shape/ic_explain.svg" alt="image">
                            </div>
                            <div class="features-caption">
                                <h3>Detailed explanations</h3>
                                <p class="textAlignJustify">This app detailed EXPLANATIONS for every question so
                                    that you would understand and remember better.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-features mb-70">
                            <div class="features-icon">
                                <!-- <span class="flaticon-support"></span> -->
                                <img src="img/shape/ic_flashcard.svg" alt="image">
                            </div>
                            <div class="features-caption">
                                <h3>Flashcard</h3>
                                <p class="textAlignJustify"> Help you quickly assess your CDL knowledge.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-features mb-70">
                            <div class="features-icon">
                                <!-- <span class="flaticon-support"></span> -->
                                <img src="img/shape/ic_learning.svg" alt="image">
                            </div>
                            <div class="features-caption">
                                <h3>Study guide</h3>
                                <p class="textAlignJustify">CDL handbook, guide and tips for basic skill test
                                    and road test.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shpe -->
    <!-- <div class="features-shpae d-none d-lg-block">
                <img src="img/hero/hero_2.png" alt="image" class="image_hero_2">
            </div> -->
</section>
<!-- Best Features End -->

<!-- challenge Start -->
<div class="applic-apps section-padding2 challenge-app pd-top-50">
    <div class="container">
        <div class="row">
            <!-- slider Heading -->
            <div class="col-xl-4 col-lg-4 col-md-8">
                <div class="single-cases-info mb-30">
                    <h3>Can you complete our challenge?</h3>
                    <p class="challenge_title">20 questions in 10 minutes. <br> Are you confident that you will answer
                        80% of the questions correctly?</p>
                    <a href="/challenge"><button class="challengetBtn">
                            <i class="fa-solid fa-desktop"></i> Start Test</button>
                    </a>
                </div>
            </div>
            <!-- OwL -->
            <div class="col-xl-8 col-lg-8 col-md-col-md-7" style="text-align: center;">
                <img src="img/gallery/60-602488_driving-clipart-lorry-driver-cartoon-truck-driver-hd.png" alt=""
                    class="w-100">
            </div>
        </div>
    </div>
</div>
<!-- challenge End -->

<!-- Services Area Start -->
<section class="service-area sky-blue section-padding2 pd-top-50">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="section-tittle text-center how-can-we">
                    <h2>How Can We Help You with CDL Permit Practice Test 2022!</h2>
                </div>
            </div>
        </div>
        <!-- Section caption -->
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-caption active text-center mb-30">
                    <div class="service-icon">
                        <!-- <span class="flaticon-businessman"></span> -->
                        <img src="img/shape/ic_notification.svg" alt="image">
                    </div>
                    <div class="service-cap">
                        <h4>Specific</h4>
                        <p>Special notice and regulation at your STATE.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-caption active text-center mb-30 shit-code">
                    <div class="service-icon">
                        <!-- <span class="flaticon-businessman"></span> -->
                        <img src="img/shape/ic_efficent.svg" alt="image">
                    </div>
                    <div class="service-cap">
                        <h4>More effective</h4>
                        <p>90% MORE EFFECTIVE than handbook with 600+ questions to practice.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="services-caption active text-center mb-30">
                    <div class="service-icon">
                        <!-- <span class="flaticon-businessman"></span> -->
                        <img src="img/shape/ic_motivate.svg" alt="image">
                    </div>
                    <div class="service-cap">
                        <h4>Stay motivated</h4>
                        <p>Stay motivated with PASSING PROBABILITY</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Area End -->


<!-- Our Customer Start -->
<div class="our-customer pd-top-50">
    <div class="container-fluid">
        <div class="our-customer-wrapper">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8">
                    <div class="section-tittle text-center">
                        <h2>What Our Customers<br> Have to Say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="customar-active dot-style d-flex dot-style">
                        <div class="single-customer">
                            <div class="what-img">
                                <img src="img/shape/man1.jpg" alt="image">
                            </div>
                            <div class="what-cap">
                                <h4>Bradley</h4>
                                <p>Was a great help to my studying and the practice test we great study guides.
                                </p>
                            </div>
                        </div>

                        <div class="single-customer">
                            <div class="what-img">
                                <img src="img/shape/man2.jpg" alt="image">
                            </div>
                            <div class="what-cap">
                                <h4>Russel Hannaz</h4>
                                <p>Very beneficial!, passed GK and AB. Was able to obtain my Class B permit.
                                    When taking AB I flew through that test.</p>
                            </div>
                        </div>

                        <div class="single-customer">
                            <div class="what-img">
                                <img src="img/shape/man3.jpg" alt="image">
                            </div>
                            <div class="what-cap">
                                <h4>Jovial</h4>
                                <p>Im an experience non cdl box truck driver going for my CDL credentials and
                                    this app has helped me to study for whats to come and I must say it has been
                                    successful. Much thanks to the creators</p>
                            </div>
                        </div>

                        <div class="single-customer">
                            <div class="what-img">
                                <img src="img/shape/man4.jpg" alt="image">
                            </div>
                            <div class="what-cap">
                                <h4>John</h4>
                                <p>I studied for a few hours and went and took the missing endorsements I needed
                                    with no problems.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Customer End -->

<script>
    document.getElementById('navigation_home').classList.add("active");
</script>